<%= div_for(comment) do %>
	<div class="comments_wrapper clearfix">
		<div class="pull-left">
			<% if @hashtagged %>
				<h1><%= link_to comment.link.title, comment.link %></h1>
			<% end %>
			<p class="lead"><%= sanitize comment.body %></p>
			<p><small>Przesłano <strong><%= time_ago_in_words(comment.created_at) %> temu</strong> przez <%= comment.user.name %></small></p>
		</div>

		<div class="btn-group pull-right">
			<% if comment.user == current_user &&  !@hashtagged %>
				<%= link_to '',[@link, comment], method: :delete, data: { confirm: 'Na pewno?' }, class: "btn btn-xs btn-danger btn-circle btn-outline glyphicon glyphicon-remove" %>
			<% end %>
		</div>
	</div>
<% end %>