<%= form_tag(links_path, :method => "get") do %>
  <ul class="nav navbar-nav pull-left">
    <li>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Wyszukaj" %>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default btn-outline", title="Wyszukaj" ><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>
    </li>
  </ul>
<% end %>

<ul class="nav navbar-nav pull-right">
  <% if user_signed_in? %>
    <% if @my %>
      <li><div class = "przycisk"><%= link_to '', { :all => "view" }, class: "btn btn-default btn-outline glyphicon glyphicon-eye-open", title: "Pokaż wszystkie strony" %></div></li>
    <% else %>
      <li><div class = "przycisk"><%= link_to '', { :my => "view" }, class: "btn btn-default btn-outline glyphicon glyphicon-eye-close", title: "Pokaż moje strony" %></div></li>
    <% end %>
  <% end %>
  <li><div class = "przycisk"><%= link_to '', hashtags_path, class: "btn btn-default btn-outline glyphicon glyphicon-tags", title: "Hasztagi" %></div></li>
  <li><div class= "btn-group odstepL">
    <% if @sd %>
      <%= link_to '', { :sortDate => "asc" }, class: "btn btn-default btn-outline rozmiar3 glyphicon glyphicon-sort-by-order", title: "Sortuj wg daty - rosnąco" %>
    <% else %>
      <%= link_to '', { :sortDate => "desc" }, class: "btn btn-default btn-outline rozmiar3 glyphicon glyphicon-sort-by-order-alt", title: "Sortuj wg daty - malejąco" %>
    <% end %>
    <% if @sn %>
      <%= link_to '', { :sortName => "desc" }, class: "btn btn-default btn-outline rozmiar3 glyphicon glyphicon-sort-by-alphabet-alt", title: "Sortuj wg tytułu - malejąco" %>
    <% else %>
      <%= link_to '', { :sortName => "asc" }, class: "btn btn-default btn-outline rozmiar3 glyphicon glyphicon-sort-by-alphabet", title: "Sortuj wg tytułu - rosnąco" %>
    <% end %>
    <% if @ss %>
      <%= link_to '', { :sortScore => "asc" }, class: "btn btn-default btn-outline rozmiar3 glyphicon glyphicon-sort-by-attributes", title: "Sortuj wg ilości rankingu- rosnąco" %>
    <% else %>
      <%= link_to '', { :sortScore => "desc" }, class: "btn btn-default btn-outline rozmiar3 glyphicon glyphicon-sort-by-attributes-alt", title: "Sortuj wg rankingu - malejąco" %>
    <% end %>
  </div></li>
</ul>
<br>
<% @links.each do |link| %>
  <% if link.user == current_user || !@my %>
    <% begin %>
      <% @object = LinkThumbnailer.generate(link.url) %> 
      <% @e = false  %>
      <% rescue %>
        <% @e = true %>
    <% end %>
    <div class="link row clearfix">
      <h2>
        <%= link_to link.title, link %> <%= link.ci_lower_bound(link.get_upvotes.size, link.get_upvotes.size+link.get_downvotes.size, 0.95) %>%<br>
        <% if !@e && @object.images && @object.images.first %>
          <a href="<%= link.url %>" target="_blank" title="<%= link.title %>" ><img src="<%= @object.images.first.src.to_s %>" class="miniaturka" ></a></br>
        <% else %>
          <a href="<%= link.url %>" target="_blank" title="<%= link.title %>" ><img src="http://s10.ifotos.pl/img/brakzdjec_sapeppe.gif" class="miniaturka" ></a></br>
        <% end %>
        <small class="author">Przesłane <%= time_ago_in_words(link.created_at) %> temu przez <%= link.user.name %></small>
      </h2>
      <div class="btn-group">
        <a class="btn btn-default btn-sm btn-outline" href="<%= link.url %>" target="_blank" title="Odwiedź link">Odwiedź link</a>
        <%= link_to link, class: "btn btn-default btn-sm btn-outline", title: "Komentarze" do %>
                <span class="glyphicon glyphicon-comment"></span>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm btn-outline" do %>
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <%= link.get_upvotes.size %>
          <% end %>
          <%= link_to dislike_link_path(link), method: :put, class: "btn btn-default btn-sm btn-outline" do %>
            <span class="glyphicon glyphicon-thumbs-down"></span>
            <%= link.get_downvotes.size %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<div id="infinite-scrolling">
  <%= will_paginate @links, renderer: BootstrapPagination::Rails %>
</div>
