<div class="page-header">
  <h1><a href="<%= @link.url %>", target="_blank"><%= @link.title %></a> <%= @link.ci_lower_bound(@link.get_upvotes.size, @link.get_upvotes.size+@link.get_downvotes.size, 0.95) %>% </br> <small>Przesłane przez: <%= @link.user.name %></small></h1>
</div>

<div class="btn-group">
	<%= link_to 'Odwiedź link', @link.url, class: "btn btn-primary", target: "_blank" %>
</div>

<div class="btn-group pull-right">
  <% if user_signed_in? %>
  <%= link_to like_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-thumbs-up"></span>
    <%= @link.get_upvotes.size %>
  <% end %>
  <%= link_to dislike_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-thumbs-down"></span>
    <%= @link.get_downvotes.size %>
  <% end %>
  <% end %>
</div>

<% if @link.user == current_user -%>
	<div class="btn-group">
		<%= link_to '', edit_link_path(@link), class: "btn btn-default glyphicon glyphicon-pencil", title: "Edytuj" %>
		<%= link_to '', @link, method: :delete, data: { confirm: 'Na pewno?' }, class: "btn btn-default glyphicon glyphicon-trash", title: "Usuń"  %>
	</div>
<% end %>

<% if user_signed_in? %>
</br></br></br>
<%= simple_form_for [@link, Comment.new]  do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control", required: true %>
  </div>
  <br>
  <ul class="nav navbar-nav pull-left">
    <li><%= f.submit "Dodaj komentarz", class: "btn btn-primary" %></li>
  </ul>
  <ul class="nav navbar-nav pull-right">
    <li><div class= "przycisk"><a class="btn btn-default rozmiar" href="http://www.emoji-cheat-sheet.com/" target="_blank" title="Dostępne emotikony"><span class="fa fa-smile-o"></span></a></div></li>
  </ul>
<% end %>
<% end %>

<h3 class="comments_title">
  <%= @link.comments.count %>
  <% if @link.comments.count === 1 %>
  komentarz
  <% end %>
  <% if @link.comments.count === 2 || @link.comments.count === 3 || @link.comments.count === 4 %>
  komentarze
  <% end %>
  <% if @link.comments.count === 0 || @link.comments.count >= 5 %>
  komentarzy
  <% end %>
</h3>
<div id="comments">
  <%= render :partial => @link.comments %>
</div>